/* * {
  margin: 0;
  padding: 0;
} */

/* 화면에 너무 붙어 있어서...  */
body {
  padding: 30px;
  background-color: #404040;
  color: rgb(189, 167, 232);
}

/* header 영역  */
header {
  padding: 5px;
}

.link {
  display: inline-block;
}

/* 로고와 로그인 버튼 */
#logo_login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

header a {
  text-decoration: none;
  color: #333333;
}

nav {
  margin-top: 10px;
  margin-bottom: 20px;
}
nav ul {
  list-style: none;
  border-top: 2px solid rgb(189, 167, 232);
  border-bottom: 2px solid rgb(189, 167, 232);
  text-align: center;
}
nav ul li {
  display: inline;
  letter-spacing: 0.3em;
  margin-left: 50px;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 15pt;
  font-weight: 800;
  color: rgb(189, 167, 232);
  line-height: 3em;
  text-transform: uppercase;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* 눌렀을떄 변하는 */
.active {
  text-decoration: underline skyblue;

  color: skyblue;
}

#login_btn {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 3px solid rgb(189, 167, 232);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(189, 167, 232);
  padding: 10px;
  margin-bottom: 100px;
}
#login_btn_group {
  height: 0px;
}

#login_btn_group button:hover {
  color: white;
  background-color: skyblue;
}

table {
  border-collapse: collapse;
}

caption {
  font-size: 25pt;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.board_list_wrap {
  color: aliceblue;
  padding: 10px;
}

.board_list {
  width: 75%;
  border-top: 2px solid lightgray;
  margin-bottom: 15px;
}

.board_list tr {
  border-bottom: 1px solid lightgray;
}

.board_list th,
.board_list td {
  padding: 10px;
  font-size: 15px;
  /* border: 1px solid #999; */
}

.board_list td {
  text-align: center;
}

.board_list tbody .tit {
  text-align: left;
  font-size: 15pt;
  display: inline-block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board_list tbody .tit:hover {
  text-decoration: underline;
}

.board_list tbody .commen {
  color: #ccc;
  font-size: 3pt;
}
.board_list_wrap .paging {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
}

.board_list_wrap .paging a {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 12px;
}

.board_list_wrap .paging a :first-child {
  margin-left: 0;
}

.board_list_wrap .paging a.pbtn {
  background-color: #333333;
}
.board_list_wrap .paging a.nump {
  border: 1px solid #ccc;
  font-weight: 600;
}

.board_list_wrap .paging a.nump_on {
  background-color: rgb(189, 167, 232);
}

.board_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.list_search_con {
  width: 75%;
  display: inline-block;
  flex-direction: row;
  justify-content: space-evenly;
}

#write_btn {
  float: right;
}
