/* * {
  margin: 0;
  padding: 0;
} */

/* �솕硫댁뿉 �꼫臾� 遺숈뼱 �엳�뼱�꽌...  */
body {
  padding: 30px;
  background-color: #404040;
  color: rgb(189, 167, 232);
}

/* header �쁺�뿭  */
header {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  display: inline-block;
}

/* 濡쒓퀬�� 濡쒓렇�씤 踰꾪듉 */

header a {
  text-decoration: none;
  color: #333333;
}

nav {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  list-style: none;
  border-top: 2px solid rgb(189, 167, 232);
  border-bottom: 2px solid rgb(189, 167, 232);
  text-align: center;
}
nav ul li {
  display: inline;
  letter-spacing: 0.3em;
  margin-left: 50px;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 15pt;
  font-weight: 800;
  color: rgb(189, 167, 232);
  line-height: 3em;
  text-transform: uppercase;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* �닃���쓣�뻹 蹂��븯�뒗 */
.active {
  text-decoration: underline skyblue;

  color: skyblue;
}

#login_btn {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 3px solid rgb(189, 167, 232);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(189, 167, 232);
  padding: 10px;
  margin-bottom: 100px;
}
#login_btn_group {
  height: 0px;
}

#login_btn_group button:hover {
  color: white;
  background-color: skyblue;
}

.item_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.item_wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.item {
  /* background-color: #646363; */
  width: 300px;
  height: 200px;
  margin: 10px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.item:hover {
  background-color: #646363;
}
/* .item a {
  text-decoration: none;
  color: inherit;
} */
.board_all_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.board_title {
  text-align: center;
  font-size: 25pt;
  margin-bottom: 20px;
  font-weight: 600;
}

.title {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.writer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10pt;
  color: antiquewhite;
  font-weight: bold;
}

.sumimg {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 160px;
  height: 100px;
}

.recommend {
  color: steelblue;
  font-size: 10pt;
  margin-bottom: 5px;
  
}

.title_con {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

.tit_con{
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;

}
.date_writer_con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.comment {
  color: rgb(77, 77, 255);
  
  font-size: 10pt;
  margin-right: 10px;
}

.date {
  color: antiquewhite;
  font-size: 10pt;
}
.board_list_wrap {
  width: 1600px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.board_list_wrap .paging {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
}

.board_list_wrap .paging a {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 12px;
}

.board_list_wrap .paging a :first-child {
  margin-left: 0;
}

.board_list_wrap .paging a.pbtn {
  color: aliceblue;
  background-color: #333333;
}
.board_list_wrap .paging a.nump {
  color: aliceblue;
  border: 1px solid #ccc;
  font-weight: 600;
}

.board_list_wrap .paging a.nump_on {
  color: aliceblue;
  background-color: rgb(189, 167, 232);
}

.list_search_con {
  width: 100%;
  display: inline-block;
  flex-direction: row;
  justify-content: space-evenly;
}

#write_btn {
  float: right;
}
